.result_detail_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    background-color: white;
    border: 1px solid transparent;

    > .result_image_container {
        width: 100%;
        height: 200px;
        background-color: #dadce0;
        min-height: 200px;

        .result_image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    > .result_url {
        padding-top: 10px;
        font-size: 12px;
        color: #202124;
        text-decoration: none;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
    }

    .result_title {
        color: #1f1e1e;
        font-size: 18px;
        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }

        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
    }

    > p {
        font-size: 12px;
        color: #4d5156;
        line-height: 16px;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 20px;
        }
    }
}

.card_border {
    border: 1px solid #dadce0;
}

.opacity_0 {
    opacity: 0;
}
