$google-gray: #f2f2f2;
$google-blue: #4285f4;
$google-red: #db4437;
$google-yellow: #f4b400;
$google-green: #0f9d58;

:export {
    googleGray: $google-gray;
    googleBlue: $google-blue;
    googleRed: $google-red;
    googleYellow: $google-yellow;
    googleGreeen: $google-green;
}
