$google-gray-dark: #333333;

.searchbar {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    padding: 0 16px;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    gap: 6px;

    &:hover {
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    }

    @media (min-width: 465px) {
        width: 400px;
        height: 45px;
    }

    @media (min-width: 768px) {
        width: 560px;
        height: 45px;
    }
}

.input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: $google-gray-dark;
    background: none;
}

.input::placeholder {
    color: $google-gray-dark;
    opacity: 0.6;
}

.search_icon {
    color: #9aa0a6;
    font-size: 20px;
}

.search_reset_icon {
    color: #70757a;
    font-size: 25px;
    cursor: pointer;
    opacity: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    opacity: 1;
}

.fixed_shadow {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
